use-syslog = off
client-limit = 50
clone-self = off
port = 7100
catalogue = /usr/share/fonts/misc,
            /usr/share/fonts/TTF,
            /usr/share/fonts/OTF,
            /usr/share/fonts/Type1,
            /usr/share/fonts/100dpi,
            /usr/share/fonts/75dpi
error-file = /tmp/xfs.log
